

h2{
	padding-left:-5%;
	margin:20px 0 20px 20px;
}

#libelle, #NombreHoraire{
	font-weight: bold;
}

.ligne2, #libelle, #NombreHoraire, .libelle, .NombreHoraire{
	border:solid 1px black;
	background-color: rgb(136, 255, 89);

}

.ligne2{
text-align:center;
vertical-align: middle;
}

.libelle, .NombreHoraire{
	background-color: white;
}

table{
	margin :auto ;
	margin-top:0px;
	background-color :white ;
	width :70%;
	border:solid 2px black;
}

table th, table td{
	background-color: white;
	text-align: left;
	border:0px;
}

#moyenGeneral{
	border-bottom:solid 1px black;
}

.ligne2 a, .Moyen{
	text-decoration: none;
	color:black;
	font-weight: bold;
}

